body {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.nav-link:hover  {
	background:#efefef;
}

.news_list_item
{
	margin-bottom:1.5em;
}

.news-title a
{
	text-decoration: none;
}

.news_list_item
{
	clear: both;
}

.admintable td
{
	font-size: 0.9rem;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

button
{
	border: solid 1px #212529;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
}