{if $modules[$index].borders_off neq "1"}
{if $modules[$index].panel eq "center"}
  {* center panel *}
		<div class="row" id="block{$index}body">
			<div class="col-md-12">
				{if not $modules[$index].no_title_in_block}<{if $index eq 0}h1{else}h2{/if} id="block{$index}title">
					{if $modules[$index].block_image neq ""}<img src="{$modules[$index].block_image}"> {/if}
					{if $modules[$index].rewrite_title_to neq ""}{$modules[$index].rewrite_title_to}{elseif $panel_title neq ""}{$panel_title}{else}{$modules[$index].title}{/if}
				</{if $index eq 0}h1{else}h2{/if}>{/if}

{elseif $modules[$index].panel eq "1"}
		<div class="row" id="block{$index}body">
			<div class="col-md-12">
				{if not $modules[$index].no_title_in_block}<h3>
					{if $modules[$index].block_image neq ""}<img src="{$modules[$index].block_image}"> {/if}
					{if $modules[$index].rewrite_title_to neq ""}{$modules[$index].rewrite_title_to}{elseif $panel_title neq ""}{$panel_title}{else}{$modules[$index].title}{/if}
				</h3>{/if}
{else}
		<div class="col-md-3" id="block{$index}title">
			{if not $modules[$index].no_title_in_block}<h3>
				{if $modules[$index].block_image neq ""}<img src="{$modules[$index].block_image}"> {/if}
				{if $modules[$index].rewrite_title_to neq ""}{$modules[$index].rewrite_title_to}{elseif $panel_title neq ""}{$panel_title}{else}{$modules[$index].title}{/if}
			</h3>{/if}
{/if}
{/if}
{if $tmp.block[$index].blockstart neq 1}{$special.document.block[$index].blockstart}{assign var=tmp.block[$index].blockstart value=1}{/if}