.adminform-separator
{
	background:#4a4a4a;
	color:#ffffff;
}

.adminform_table td input
{
	width:98%;
}

.adminform_table td textarea
{
	width:98%;
}

.adminform_table td input[type=checkbox]
{
	width:auto;
}

.admintable_row td img {max-width:280px;}

.adminform_savebutton
{
	text-align:right;
	padding: 6px 14px;
}

.adminform-row-odd
{
	background-color:#efefef;
}

.adminform-row-pair
{
	background-color:#fafafa;
}

tr.adminform-row-odd:hover td, tr.adminform-row-pair:hover td
{
	background-color:#d9edf7;
}

.adminform_savebutton_helper
{
	font-style:italic;
	padding-right:2em;
	font-size:smaller;
}

.adminform_table td input[type=radio]
{
	width:auto;
}
